.table {
  margin-top: 50px;
}

.cadastro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-cadastro {
  width: 500px;
  height: auto;
  background-color: whitesmoke;
  border: solid 2px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.box-cadastro:hover {
  background-color: #6c7c7c;
  color: white;
  transition: .6s;
}

.titulo-card {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-cadastro {

}

.form-cadastro input {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}

.form-cadastro label {
  margin-right: 5px;
}

.form-cadastro button {
  margin-right: 20px;
}

.botao-cadastro {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.botao-editar {
	box-shadow: 0px 2px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:10px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.botao-remover {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.botao-cancelar {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
